.table {
  font-size: 0.9rem;
  text-align: left;
  background: white;
  color: #0069e0;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
  border: solid 1px #0095e9;
}

.table thead {
  background-color: #0095e9;
  color: white;
}

.table button {
  background: #0069e0;
  color: white;
}

.table button:hover {
  background-color: rgba(0, 105, 224, 0.8);
}


